RewriteEngine On

## Restrict access to known users or docker development ##
AuthType Basic
AuthName "Restricted Site: Crowdcast"
AuthBasicProvider file
AuthUserFile /var/www/passwords
Require user cctest
Require ip 172.16.0.0/12
## Restrict access to known users or docker development ##

## Compress Files ##
<IfModule mod_deflate.c>
    <filesMatch "\.(js|css|html|php|svg|htm|xml|json)$">
        SetOutputFilter DEFLATE
    </filesMatch>
</IfModule>
## Compress Files ##
